.single-billing{
    width:100%;
}

.billing-info{
    width:95%;
    background-color: #fff;
}

.billing-input-top{
    width:100%;
}

.billing-input-bottom {
    width: 100%;
}

.billing-icons{
    width:100%;
}