.app{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.side-bar{
    width:270px;
    background-color: #1D2438;
}

.content{
    background-color: #141C2C;
}

@tailwind base;
@tailwind components;
@tailwind utilities;